*{
margin: 0;
display: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 60px;
    align-items: center;
    justify-items: center;
    padding: 20px;
    background-color: #ffd500; 
    color: #fff;
}

.logo {
    grid-column: 2;
    grid-row: 1;

}

.logo img{
    width: 30%;
    height: auto;
}


nav {
    grid-column: 2;
    grid-row: 2;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding: 0;
    margin: 0;
}

nav a {
    color: #300000;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    background-color: #300000;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}


.slider-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/* Estilos de las imágenes */
.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
/* Clase para la imagen activa */
.active {
    opacity: 1;
}

.titulo1 {
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.titulo1 h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
.titulo1 p {
    text-align: center;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.video-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
/* Efecto de zoom y opacidad al pasar el cursor */
.gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
}